/******** 909px events *********/

@media  (max-width:909px) {

    .header{
        position: sticky;
        top: 0%;
    }


    .header_top{
        display: none;
    }

    .header_top_left{
        width: auto;
    }

    .header_bottom{
        display: none;
    }

    .header_sticky{
        display: none !important;
    }

    .mobile_header{
        display: block;
    }

    
    .aside_in{
        width: 46%;
    }
    
    

    /* post cintainer responsive */
    .post_container{
        padding: 10px;
    }


    .post_left_main{
        flex-direction: column;
        width:100%;
    }
    
    .post_container_left{
        width: 100%;
        order: 2;
        border-right: none;
       
        
    }

    .post_item{
        padding-bottom: 10px;
    }

    .post_container_center{
        width: 100%;
        order: 1;
        padding: 20px 0px 0px 0px ;
       
    }
    /* Biznes section */

    .biznes_container{
        padding: 10px;
    }

    /* Siwft section */
    .swift_container{
        padding: 10px;
    }


    .swift_main{
        flex-direction: column;
    }

    .swift_left_container{
        flex-direction: column;
        width: 100%;
    }
    
    .swift_main_left  {

        width: 100%;
        order: 2;

        display: flex;
        padding: 20px 0px;
        border-right: none;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
    }

    .swift_main_left_img_container{
        width: 150px;
        height: 187px;
        margin-right: 20px;
    
    }

    .swift_main_left div:last-child{
        width: 75%;
    }

    

    
    .swift_main_center{
        width: 100%;
        order: 1;
        border: none;
        padding: 0%;
         
    }
    /**/
    .swift_main_right{
        width: 100%;
        order: 2;
        padding: 0%;
    }

    .swift_main_right  > div:not(:last-child){
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
    }

    .swift_right_post{
        display: flex;
    }

    .swift_rigth_post_img{
        width: 150px;
        height: 99px;
    }

    .swift_right_post_title{
        padding-left: 20px;
        width: 62%;
    }

    /* Opinion section */

    .opinion{
        padding: 10px;
    }

    .opinion_left_side {
        width: 40%;
    }

    .opinion_right_side{
        width: 60%;
    }

    .opinion_right_img{
        width: 100%;
        height: 100%;
    }

    /* Art and travel section */

    .arts_travel_container{
        padding: 10px;
    }

    .art_side{
        border: none;
        padding-right: 0px;
    }

    

    .art_item_img_container{
        height: auto;
        width: auto;
    }

    .art_item_title a {
        
        font-size: .7em;
        
    }

    .travel_item_text{
        width: 55%;
        padding-right: .8%;
    }



    .travel_item_img {
        width: 55%;
        height: fit-content;
        
    }

    .travel_item_title a{
        font-size: .7em;
    }

    /* ***********Food  section********** */

    .food{
        padding: 10px;
    }
    
    .food_main_div{
        flex-direction: column;
    }

    .food_left{
        width: 100%;
        order: 2;
        padding-top: 20px;
        flex-direction: column-reverse;
    }

    .food_right{
        width: 100%;
        order: 1;
        padding: 0%;
        border-bottom: 1px solid #ddd;
    }

    .food_left_litlle_items{
        width: 100%;
        padding-top: 20px;
        border: none;
    }

    .food_left_litlle_items > div:not(:last-child){
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
    }


    .food_litlle_item{
        display: flex;
    }

    .litlle_item_img {
        width: 150px;
        height: 120px;
        margin-right: 20px;
    }

    .food_left_big_item{
        width: 100%;
        padding: 0%;
        display: flex;
        padding-bottom: 20px;
        border-right: none;
        border-bottom: 1px solid #ddd;
    }

    .big_item_img{
        width: 150px;
        height: 187px;
        margin-right: 20px;
    }

    .food_left_big_item div:last-child{
        width: 80%;
    }

    .food_right_img {
        height: 560px;
    }

    /******** Newsletter section****/

    .newsletter{
        padding:  10px;
    }

    /******** Video Section*********/

    .video{
        padding: 10px;
    }

    .video_main{
        flex-direction: column;
    }

    .video_left{
        width: 100%;
        padding: 0px;
        border-right: 0px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
    }

    .video_right{
        width: 100%;
        padding: 0px;
    }

    .video_right_item{
        padding-top: 20px;
    }

    /* latest_section */

    .latest{
        padding: 10px;
    }

    /* Footer section */

    .footer_bottom .center{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_bottom_info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

/**************  750px events ***************/
@media (max-width:750px){

    .post_container{
        flex-direction: column;
    }


    .post_container_right{
        width: 100%;
        padding-left: 0px;
        border-left: none;
    }

    .most_read_container{
        display: flex;
        flex-direction: column;
    }

    .most_read_inner{
        width: 100%;
    }


    .most_read_list{
        width: 100%;
    }

    .most_read_list li {
        width: 100%;
    }

    



    .arts_travel_container{
        flex-direction: column;
    }

    .art_side{
        width: 100%;
        order: 1;
    }

    .travel_side{
        width: 100%;
        order: 2;
        padding-left: 0%;
        font-size: .7em;

    }



    .newsletter_form{
        display: flex;
        flex-direction: column;
        height: 20%;
    }

    .newsletter_form input{
       padding: 20px 20px;
       margin: 5px 0px;
       width: 100%;
    }

    .newsletter_form button{
        padding: 20px 20px;
        margin: 5px 0px;
        width: 100%;
    }


    .latest_container{
        flex-direction: column;
    }


    .latest_left {
        width: 100%;
        border-right: none;
    }

    .latest_right{
        width: 100%;
        padding: 0px;
    }

    #search_input{
        width: 89%;
    }


    .latest_about_us_img{
        height: auto;
    }

    .the_box_magazine{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .the_box_magazine img{
        width: 100%;
        
    }

    
}

@media (max-width: 710px)  {
    .latest_left_category_list .list_item_link{
        font-size: 10px;
    }
}


@media (max-width:700px){


    .biznes_items_container{

        flex-direction: column;
       
    }

    .biznes_item{
        width: 100%;
        padding: 0px ;
    }

    .biznes_items_container > div:not(:last-child){
        border: none;
    }

    .biznes_img_container{
        height: auto;
    }


    
}

@media (max-width:570px) {
    .latest_left_item_text{
        padding-right: 12.625px;
    }
}


@media (max-width:550px){
    .opinion_main{
        flex-direction: column;
    }

    .opinion_left_side{
        width: 100%;
        order: 2;
        
    }

    .opinion_left_side h2 a{
        font-size: .8em;
    }

    .opinion_left_excerpt{
        font-size: .8em;
    }

    .opinion_right_side{
        width: 100%;
        order: 1;
        padding-bottom: 10px;
    }

    /**/
    .post_container_center{
        padding: 0px;
    }

    .post_container_left{
        padding: 0px;
    }


    .art_items_container {
        flex-direction: column;
    }

    .art_items_container > div:not(:last-child){
        border-right: none;
        padding-right: 0px;
    }

    .art_items_container > div:not(:first-child){
        padding-left: 0px;
    }
    


    .art_item{
        width: 100%;
    }


    .food_right_img{
        height: 433px;
    }

    .food_right_title{
        font-size: .6em;
    }
    
    .food_right_title {
        font-size: 1.6em;
    }


    .little_item_title {
    
        width: 66%;
    }
}


@media (max-width:480px) {
    .main_in{
        display: none;
    }

    .mobile_main{
        display: block;
    }

    .widget_container{
        display: none;
    
    }
    
    .aside_in{
        width: 60%;
    }

    .aside_menu li a{
        font-size: 15px;
    }

}





@media (max-width:435px){
    .big_item_title{
        margin: 0px;
        padding: 0px;
    }

    .swift_main_left_text_container h2 {
        margin: 0px;
        padding: 0px;
    }

    .video_left_title {
        font-size: 1.2em;
    }

    .video_item_title a {
        font-size: .8em;
    }

    .latest_left_item_img {
        width: 102px;
        height: 92px;
    }

    .latest_left_item_text {
        width: 68%;
        padding-right: 0px;
    }

    .latest_left_item_excerpt {
        font-size: 11px;
        color: #555;
    }

    .left_item_title{
        width: 66%;
    }

    .left_item_title a {
        
        font-size: 21px;
    }

    .section_author_img {
        width: 76px;
        height: 46px;
    }

    .footer_copyright a {
        font-size: 9px;
        
    }
}